@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url(../fonts/Raleway-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url(../fonts/Raleway-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url(../fonts/Raleway-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
:root {
  --text-color: #221d19;
  --light-color: #fefcfa;
  --white-color: #ffffff;
  --accent-color: #cbaa49;
  --gray-color: #BCBBBA;
  --bg-color: #ece2d6;
  --border-color: #ece2d6
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: var(--text-color);
  line-height: 1;
  font-family: Raleway;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Raleway;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  font-weight: 500;
  background-color: var(--light-color)
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 84.75rem;
  margin: 0 auto;
  padding: 0 .625rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .625rem 1fr minmax(auto,83.5rem) 1fr .625rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button,
.button-empty {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  min-width: 15.875rem;
  min-height: 3.125rem;
  padding: 1rem 3.125rem;
  border-radius: 6.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .625rem;
  font-weight: 500;
  font-size: .875rem;
  line-height: 100%;
  letter-spacing: .02em;
  text-transform: uppercase;
  border: 1px solid transparent
}
.button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border-color: var(--accent-color);
  transition: background .3s
}
.button-empty {
  background-color: rgba(0,0,0,0);
  border-color: var(--light-color);
  color: var(--light-color);
  transition: color .3s,border .3s
}
.button-empty--dark {
  border-color: var(--text-color);
  color: var(--text-color)
}
.mobile-fixed-block {
  display: none
}
.mobile-fixed-block__link {
  background-color: var(--gray-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .625rem;
  text-align: center;
  font-weight: 500;
  font-size: .9375rem;
  line-height: 133%;
  padding: .625rem
}
.mobile-fixed-block__link:first-child {
  border-radius: 1.25rem 0 0 1.25rem
}
.mobile-fixed-block__link:last-child {
  border-radius: 0 1.25rem 1.25rem 0
}
.title {
  font-weight: 500;
  line-height: 125%
}
.title span {
  color: var(--accent-color)
}
.decor-section {
  display: flex;
  align-items: center;
  gap: .375rem
}
.decor-section svg {
  flex-shrink: 0;
  width: .875rem;
  -o-object-fit: cover;
  object-fit: cover
}
.decor-section::after,
.decor-section::before {
  content: "";
  flex: 1 1 auto;
  height: .0625rem;
  background-color: var(--text-color)
}
.decor-section::before {
  width: 1.25rem
}
.decor-section::after {
  width: 100%
}
.form__error {
  line-height: 175%;
  color: #f43
}
.breadcrumbs {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .3125rem;
  margin-bottom: 1.875rem
}
.breadcrumbs__link {
  display: inline-flex;
  align-items: center;
  gap: .3125rem;
  line-height: 175%;
  transition: color .3s
}
.breadcrumbs__link:not(:last-child)::after {
  content: "/"
}
.breadcrumbs__link.active {
  pointer-events: none;
  border-bottom: 1px solid var(--accent-color)
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  width: 100%;
  display: block;
  border: 1px solid var(--text-color);
  border-radius: 3.125rem!important;
  height: 3.125rem;
  font-weight: 500;
  padding: .625rem 1.25rem;
  caret-color: inherit
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  color: rgba(34,29,25,.5);
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  color: rgba(34,29,25,.5);
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  color: rgba(34,29,25,.5);
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  color: rgba(34,29,25,.5);
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.select {
  min-width: 0;
  position: relative
}
.select__body {
  position: relative
}
.select__title {
  color: inherit;
  text-align: left;
  border: 1px solid var(--text-color);
  border-radius: 3.125rem;
  height: 3.125rem;
  padding: .625rem 0;
  font-weight: 500;
  cursor: pointer;
  width: 100%
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  height: 1.875rem;
  padding: 0 1.25rem;
  gap: .625rem
}
.select__value>* {
  flex: 1 1 auto
}
.select__value:after {
  content: "";
  align-self: stretch;
  flex: 0 0 1rem;
  transition: all .3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/icon/arrow-down-2.svg) center/1rem no-repeat
}
._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: .5
}
.select__content {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}
.select__input {
  width: 100%;
  background-color: rgba(0,0,0,0);
  height: 100%
}
.select__options {
  color: inherit;
  position: absolute;
  top: calc(100% + .3125rem);
  border-radius: 1.5625rem;
  min-width: 100%;
  left: 0;
  background-color: var(--light-color);
  border: 1px solid var(--text-color);
  overflow: hidden;
  padding: .75rem 0
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-weight: 500;
  padding: .3125rem 1.25rem;
  color: inherit
}
.select__option._select-selected {
  background-color: var(--gray-color)
}
.select__row {
  display: inline-flex;
  align-items: center
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% + .3125rem);
  border: 1px solid var(--text-color)
}
._select-tag {
  cursor: pointer
}
.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100svh;
  left: -100%;
  top: 0;
  z-index: -2;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(53,53,53,.3);
  backdrop-filter: blur(10px);
  padding-top: 6.75rem;
  opacity: 0;
  transition: opacity .3s
}
.menu-open .menu {
  left: 0;
  opacity: 1
}
._header-scroll .menu {
  padding-top: 4.75rem
}
.menu__body {
  background-color: var(--white-color);
  border-radius: 0 0 .625rem .625rem;
  -webkit-transform: translate(0,-100%);
  transform: translate(0,-100%);
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.menu-open .menu__body {
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.menu__inner {
  max-width: 84.75rem;
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem .625rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.875rem
}
.menu__column {
  display: grid;
  align-content: start;
  gap: 2.5rem
}
.menu__column--works {
  max-width: 27.1875rem
}
.menu__column--menu {
  max-width: 17rem
}
.menu__contacts {
  display: none
}
.menu__graph {
  display: grid;
  align-content: start;
  gap: .625rem
}
.menu__title {
  font-size: 1.5rem;
  line-height: 100%
}
.menu__graph-work {
  font-weight: 400;
  line-height: 150%
}
.menu__address {
  display: grid;
  align-content: start;
  gap: .4375rem
}
.menu__address-link {
  font-weight: 400;
  line-height: 162%;
  transition: color .3s
}
.menu__list {
  display: grid;
  align-content: start;
  gap: .4375rem
}
.menu__link {
  line-height: 175%;
  transition: color .3s
}
.menu__map {
  max-width: 26.9375rem;
  display: grid;
  overflow: hidden;
  border-radius: .625rem
}
.menu__map img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s,-webkit-transform .6s
}
.icon-menu {
  display: block;
  position: relative;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  border: 1px solid var(--white-color);
  transition: border .3s
}
._header-scroll .icon-menu,
.header--white .icon-menu {
  border-color: var(--text-color)
}
.icon-menu span,
.icon-menu::after,
.icon-menu::before {
  content: "";
  transition: all .3s ease 0s;
  right: .75rem;
  position: absolute;
  width: 1.5rem;
  height: .0625rem;
  background-color: var(--white-color)
}
._header-scroll .icon-menu span,
._header-scroll .icon-menu::after,
._header-scroll .icon-menu::before,
.header--white .icon-menu span,
.header--white .icon-menu::after,
.header--white .icon-menu::before {
  background-color: var(--text-color)
}
.icon-menu::before {
  top: 1rem
}
.icon-menu::after {
  bottom: 1rem
}
.icon-menu span {
  top: calc(50% - .03125rem);
  width: 1.25rem
}
.menu-open .icon-menu {
  border-color: var(--text-color)
}
.menu-open .icon-menu span {
  width: 0
}
.menu-open .icon-menu::after,
.menu-open .icon-menu::before {
  background-color: var(--text-color)
}
.menu-open .icon-menu::before {
  top: calc(50% - .03125rem);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.menu-open .icon-menu::after {
  bottom: calc(50% - .03125rem);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: var(--light-color);
  padding: 1.875rem 3.125rem 5rem 3.125rem;
  width: 100%;
  max-width: 53.75rem;
  border-radius: .625rem;
  position: relative
}
.lock .popup__content {
  visibility: visible
}
.popup__close {
  margin-left: auto;
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  display: grid;
  place-content: center;
  margin-bottom: 3.125rem;
  transition: color .3s
}
.popup__title {
  margin-bottom: 2.5rem
}
.form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.25rem
}
.form__block {
  flex: 1 1 auto;
  width: calc(50% - 1.25rem);
  min-width: 15.625rem
}
.form__label {
  line-height: 175%
}
.form__label span {
  color: #f43
}
.form__bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: .625rem;
  margin-top: 1.25rem
}
.thank-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding: 3.125rem;
  background-color: var(--light-color);
  text-align: center;
  border-radius: .625rem;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all .3s ease
}
.form-sent-success .thank-block {
  visibility: visible;
  pointer-events: all;
  opacity: 1
}
.thank-block__title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem
}
.thank-block__text {
  line-height: 175%
}
.thank-block__home {
  margin: 0 auto;
  margin-top: 4.625rem;
  padding: 1rem 2.5rem
}
.spollers {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.spollers__item {
  border-bottom: 1px solid var(--text-color)
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .9375rem;
  padding: .875rem 1.375rem;
  font-size: 1.125rem;
  line-height: 156%;
  position: relative;
  list-style: none;
  cursor: pointer
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
.spollers__title::after {
  content: "";
  flex-shrink: 0;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  background: url(../img/icon/arrow-down-2.svg) center/1rem no-repeat;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
.spollers__title._spoller-active::after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.spollers__body {
  padding: .875rem 1.375rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 175%;
  display: grid;
  align-content: start;
  gap: 1.25rem
}
.spollers__body a {
  text-decoration: underline;
  color: #186e95
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
  color: var(--white-color);
  padding: 2.5rem 0 1.0625rem 0;
  transition: background .3s,color .3s,padding-block .3s
}
.header--white,
.header._header-scroll,
.menu-open .header {
  background-color: var(--white-color);
  color: inherit;
  border-bottom: 1px solid #ece2d6
}
.header._header-scroll {
  padding-block: .75rem
}
.header__body {
  display: flex;
  align-items: center;
  gap: .625rem
}
.header__logo {
  max-width: 5.625rem;
  margin-right: auto
}
.header__logo img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.header__contacts {
  margin-right: .625rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .625rem 1.25rem
}
.header__phone {
  font-weight: 500;
  font-size: .875rem;
  line-height: 150%;
  transition: color .3s
}
.header__menu-overlay {
  position: fixed;
  width: 100%;
  height: 6.75rem;
  left: 0;
  top: -100%;
  background-color: var(--white-color);
  transition: left .3s;
  z-index: -1;
  pointer-events: none;
  display: grid;
  align-items: end;
  justify-items: center;
  padding: 0 .625rem
}
.header__menu-overlay::before {
  content: "";
  max-width: 83.5rem;
  width: 100%;
  height: .0625rem;
  background-color: var(--border-color)
}
._header-scroll .header__menu-overlay {
  height: 4.75rem
}
.menu-open .header__menu-overlay {
  top: 0
}
.socials-block {
  display: flex;
  flex-wrap: wrap;
  gap: .625rem
}
.socials-block__link {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  border: 1px solid var(--white-color);
  color: inherit;
  padding: .625rem;
  display: grid;
  place-content: center;
  transition: border .3s,background .3s,color .3s
}
.socials-block__link img,
.socials-block__link svg {
  max-width: 1.5rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
._header-scroll .socials-block__link,
.menu-open .socials-block__link,
.socials-block__link--white {
  border-color: var(--text-color)
}
.language {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: relative
}
.language__current {
  display: flex;
  align-items: center;
  gap: .3125rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 100%;
  transition: color .3s
}
.language__current img {
  width: 1.375rem;
  height: 1.375rem;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: .3125rem
}
.language__current::after {
  content: "";
  width: .5rem;
  height: .5rem;
  background: url(../img/icon/arrow-down.svg) center/contain no-repeat;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.lang-open .language__current::after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.language__list {
  position: absolute;
  top: calc(100% + .3125rem);
  left: 0;
  z-index: 5;
  width: 100%;
  background-color: var(--white-color);
  border-radius: .625rem;
  box-shadow: 0 .625rem 1.25rem rgba(0,0,0,.1);
  padding: .3125rem;
  display: grid;
  gap: .3125rem;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  transition: all .3s
}
.lang-open .language__list {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateX(0);
  transform: rotateX(0)
}
.language__link {
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding: .1875rem;
  border-radius: .3125rem;
  transition: background .3s,color .3s
}
.footer {
  padding: 6.25rem 0 1.875rem 0;
  background-color: var(--text-color);
  color: var(--light-color)
}
.footer__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.875rem;
  margin-bottom: 3.125rem
}
.footer__column {
  display: grid;
  align-content: start;
  gap: 2.5rem
}
.footer__column--works {
  max-width: 27.1875rem
}
.footer__column--menu {
  max-width: 17rem
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.footer__phone {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 100%;
  transition: color .3s
}
.footer__graph {
  display: grid;
  align-content: start;
  gap: .625rem
}
.footer__title {
  font-size: 1.5rem;
  line-height: 100%
}
.footer__graph-work {
  font-weight: 400;
  line-height: 150%
}
.footer__address {
  display: grid;
  align-content: start;
  gap: .4375rem
}
.footer__address-link {
  font-weight: 400;
  line-height: 162%;
  transition: color .3s
}
.footer__list {
  display: grid;
  align-content: start;
  gap: .4375rem
}
.footer__link {
  line-height: 175%;
  transition: color .3s
}
.footer__map {
  max-width: 26.9375rem;
  display: grid;
  overflow: hidden;
  border-radius: .625rem
}
.footer__map img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s,-webkit-transform .6s
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .9375rem
}
.footer__logo {
  max-width: 12.625rem
}
.footer__logo img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.footer__policy {
  font-weight: 500;
  font-size: .875rem;
  line-height: 171%;
  text-align: center;
  transition: color .3s
}
.hero {
  padding: 9.375rem 0 5.625rem 0;
  min-height: 100svh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: var(--light-color);
  display: grid
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  pointer-events: none
}
.hero__container {
  width: 100%;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column
}
.hero__content {
  margin-top: auto;
  max-width: 56.5rem;
  display: grid;
  align-content: start;
  gap: 1.25rem
}
.hero__title {
  text-transform: uppercase
}
.hero__text {
  line-height: 175%
}
.hero__btn {
  display: none
}
.hero__decor {
  margin-top: .125rem;
  color: var(--accent-color)
}
.hero__decor::after,
.hero__decor::before {
  background-color: var(--accent-color)
}
.section-info {
  padding: 4.375rem 0;
  background-color: var(--bg-color)
}
.section-info__body {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem
}
.section-info__content {
  max-width: 56.5rem;
  width: 100%;
  display: grid;
  align-content: start;
  gap: 1.5rem
}
.section-info__text {
  display: grid;
  align-content: start;
  gap: 1.5rem;
  line-height: 175%
}
.section-info__img {
  max-width: 20.9375rem;
  width: 100%;
  overflow: hidden;
  border-radius: .625rem
}
.section-info__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.results {
  padding: 5.625rem 0
}
.results__head {
  display: grid;
  align-content: start;
  gap: 1.25rem;
  margin-bottom: 3.125rem
}
.results__card {
  border-radius: .625rem;
  padding: 1.25rem 1rem;
  background-color: var(--bg-color);
  text-align: center
}
.results__card-img {
  margin-bottom: 1.25rem
}
.results__card-img img {
  aspect-ratio: 422/378;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.results__card-title {
  margin-bottom: .625rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 156%
}
.results__card-text {
  line-height: 175%
}
.the-cost {
  padding: 4.375rem 0;
  background-color: var(--text-color);
  color: var(--white-color)
}
.the-cost__title {
  margin-bottom: 3.125rem
}
.the-cost__table {
  margin-bottom: 3.125rem
}
.the-cost__table-head {
  background-color: var(--accent-color);
  padding: 1.875rem 3.75rem;
  color: var(--text-color);
  display: grid;
  gap: 1.25rem
}
.the-cost__table--4-columns .the-cost__table-head {
  grid-template-columns: repeat(2,2fr) repeat(2,1fr)
}
.the-cost__table--3-columns .the-cost__table-head {
  grid-template-columns: 2fr repeat(2,1fr)
}
.the-cost__table-item {
  font-weight: 400;
  font-size: .875rem;
  line-height: 150%
}
.the-cost__table-head .the-cost__table-item {
  font-weight: 500;
  font-size: 1rem;
  line-height: 130%
}
.the-cost__table-row {
  color: var(--light-color);
  padding: 1.875rem 3.75rem;
  border-bottom: 1px solid var(--white-color);
  display: grid;
  gap: 1.25rem
}
.the-cost__table--4-columns .the-cost__table-row {
  grid-template-columns: repeat(2,2fr) repeat(2,1fr)
}
.the-cost__table--3-columns .the-cost__table-row {
  grid-template-columns: 2fr repeat(2,1fr)
}
.the-cost__table-link {
  transition: color .3s
}
.the-cost__table-time {
  display: none
}
.the-cost__table-price {
  display: flex;
  flex-direction: column;
  font-weight: 500
}
.the-cost__table-oldprice {
  font-weight: 400;
  font-size: .75rem;
  line-height: 175%;
  text-decoration: line-through
}
.the-cost__btns {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .625rem
}
.the-cost__btn {
  min-width: 16.0625rem
}
.shares {
  padding: 5.625rem 0
}
.shares__head {
  margin-bottom: 3.125rem
}
.shares__body {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(31.25rem,1fr));
  gap: 1.25rem
}
.shares__item {
  overflow: hidden;
  border-radius: .625rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "body";
  color: var(--light-color);
  transition: color .3s
}
.shares__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5)
}
.shares__item img {
  grid-area: body;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s,-webkit-transform .6s
}
.shares__item-body {
  grid-area: body;
  position: relative;
  z-index: 3;
  display: grid;
  place-content: center;
  gap: 1.25rem;
  padding: .9375rem
}
.shares__item-text {
  max-width: 31.125rem;
  width: 100%;
  font-weight: 600;
  line-height: 167%;
  text-align: center
}
.reviews {
  padding: 4.375rem 0;
  background-color: var(--bg-color)
}
.reviews__title {
  margin-bottom: 1.375rem
}
.reviews__slide {
  display: grid;
  place-content: center;
  overflow: hidden;
  border-radius: .625rem;
  background-color: var(--white-color)
}
.reviews__slide img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.faq {
  padding: 5.625rem 0
}
.faq__head {
  margin-bottom: 3.125rem
}
.text {
  padding: 9.375rem 0 5.625rem 0
}
.text__title {
  margin-bottom: 2.5rem
}
.text__content {
  display: grid;
  align-content: start;
  gap: 1.5rem;
  font-weight: 500;
  font-size: .75rem;
  line-height: 233%
}
.text__content a {
  text-decoration: underline
}
.text__content ol,
.text__content ul {
  padding-left: 1.25rem
}
.text__content ol li,
.text__content ul li {
  list-style: disc
}
.text__content ol li {
  list-style: decimal
}
.section-404 {
  padding: 5.625rem 0;
  min-height: 100svh;
  display: grid;
  place-content: center
}
.section-404__container {
  display: flex;
  flex-direction: column;
  align-items: center
}
.section-404__title {
  text-align: center;
  margin-bottom: 2.5rem;
  font-weight: 500;
  line-height: 114%
}
.section-404__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  text-align: center;
  margin-bottom: 3.75rem;
  font-weight: 500;
  line-height: 125%
}
.section-404__btn {
  margin: 0 auto
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:84.75em) {
  .title {
    font-size: 3.125rem
  }
  .hero__title {
    font-size: 3.125rem
  }
  .shares__item-text {
    font-size: 1.5rem
  }
  .section-404__title {
    font-size: 13.75rem
  }
  .section-404__text {
    font-size: 3.125rem
  }
}
@media (max-width:84.75em) {
  .results__slider {
    padding: 0 .625rem;
    margin: 0 -.625rem
  }
  .reviews__slider {
    padding: 0 .625rem;
    margin: 0 -.625rem
  }
}
@media (max-width:78.12375em) {
  .menu__column {
    flex: 1 1 auto;
    width: calc(33.333% - 1.875rem);
    min-width: 13.125rem
  }
  .footer__column {
    flex: 1 1 auto;
    width: calc(33.333% - 1.875rem);
    min-width: 13.125rem
  }
}
@media (max-width:74.99875em) {
  .the-cost__table-head {
    padding: 1.875rem
  }
  .the-cost__table-row {
    padding: 1.875rem
  }
}
@media (max-width:68.74875em) {
  .shares__body {
    grid-template-columns: repeat(auto-fill,minmax(22.5rem,1fr))
  }
}
@media (max-width:61.99875em) {
  .menu__column {
    gap: 1.25rem
  }
  .footer__column {
    gap: 1.25rem
  }
}
@media (max-width:47.99875em) {
  .title {
    line-height: 150%
  }
  .breadcrumbs {
    margin-bottom: 3.125rem
  }
  .breadcrumbs__link {
    font-size: .875rem
  }
  .menu {
    padding-top: 4.75rem
  }
  .popup__content {
    padding: 1.875rem .75rem 3.125rem .75rem
  }
  .popup__title {
    margin-bottom: 1.875rem
  }
  .thank-block {
    padding: 3.125rem .625rem
  }
  .thank-block__home {
    margin-top: 2.875rem
  }
  .spollers__title {
    padding: 1.125rem 0
  }
  .spollers__title::after {
    width: 2.5rem;
    height: 2.5rem
  }
  .spollers__body {
    gap: .625rem;
    padding: .625rem 0
  }
  .header {
    padding: .75rem 0
  }
  .header__btn {
    display: none
  }
  .header__menu-overlay {
    height: 4.75rem
  }
  .socials-block__link {
    width: 2.5rem;
    height: 2.5rem
  }
  .socials-block__link img,
  .socials-block__link svg {
    max-width: 1.25rem
  }
  .footer {
    padding: 2.5rem 0 6.25rem 0
  }
  .hero {
    padding: 6.0625rem 0 4.25rem 0;
    min-height: 40.9375rem
  }
  .hero__title {
    line-height: 128%
  }
  .hero__btn {
    display: inline-flex;
    margin: 0 auto;
    margin-top: 3.75rem
  }
  .hero__decor {
    margin-top: 2.5rem
  }
  .hero__decor::before {
    width: 100%
  }
  .section-info {
    padding: 2.5rem 0
  }
  .results {
    padding: 3.75rem 0
  }
  .results__head {
    margin-bottom: 1.5rem
  }
  .results__card-title {
    font-size: 1rem;
    line-height: 150%
  }
  .results__card-text {
    font-size: .875rem;
    line-height: 150%
  }
  .the-cost {
    padding: 2.5rem 0
  }
  .the-cost__title {
    margin-bottom: 1.25rem
  }
  .the-cost__table {
    margin-bottom: 2.5rem
  }
  .the-cost__table-head {
    display: none
  }
  .the-cost__table-item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    gap: .9375rem
  }
  .the-cost__table-item:first-child {
    font-weight: 500;
    font-size: 1rem;
    line-height: 130%;
    margin-bottom: .25rem
  }
  .the-cost__table-row {
    padding: .625rem 0;
    grid-template-columns: 1fr;
    gap: .625rem
  }
  .the-cost__table--3-columns .the-cost__table-row,
  .the-cost__table--4-columns .the-cost__table-row {
    grid-template-columns: 1fr
  }
  .the-cost__table-info {
    display: none
  }
  .the-cost__table-time {
    display: block
  }
  .the-cost__table-price {
    font-weight: 400
  }
  .the-cost__btn {
    padding: 1rem 1.375rem
  }
  .shares {
    padding: 3.75rem 0
  }
  .shares__head {
    margin-bottom: 1.25rem
  }
  .shares__body {
    grid-template-columns: repeat(auto-fill,minmax(17.5rem,1fr));
    gap: .625rem
  }
  .reviews {
    padding: 2.5rem 0
  }
  .faq {
    padding: 3.75rem 0
  }
  .faq__head {
    margin-bottom: 1.25rem
  }
  .text {
    padding: 7.5rem 0 3.75rem 0
  }
  .text__title {
    margin-bottom: 1.25rem
  }
  .text__content {
    gap: 1.25rem
  }
  .section-404__text {
    line-height: 150%;
    gap: 1.25rem
  }
}
@media (max-width:40.62375em) {
  .mobile-fixed-block {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    padding: 0 .9375rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    min-height: 4rem
  }
  .menu__body {
    border-radius: 0
  }
  .menu__inner {
    padding: 1.25rem .625rem 3.125rem .625rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "contacts" "menu" "address";
    gap: 1.25rem
  }
  .menu__column {
    width: 100%;
    min-width: 0
  }
  .menu__column--works {
    max-width: none;
    grid-area: address
  }
  .menu__column--menu {
    max-width: none;
    text-align: right;
    grid-area: menu;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--border-color)
  }
  .menu__column--map {
    display: none
  }
  .menu__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
    grid-area: contacts
  }
  .menu__phone {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 100%
  }
  .menu__graph {
    display: none
  }
  .menu__title {
    display: none
  }
  .menu__address-link {
    font-size: .9375rem;
    line-height: 187%
  }
  .menu__lang {
    margin: 0 auto
  }
  .menu__list {
    gap: .625rem
  }
  .icon-menu {
    width: 2.5rem;
    height: 2.5rem
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    right: .5rem;
    width: 1.375rem
  }
  .icon-menu span {
    width: 1.125rem
  }
  .icon-menu::before {
    top: .875rem
  }
  .icon-menu::after {
    bottom: .875rem
  }
  .spollers {
    grid-template-columns: 1fr
  }
  .header__contacts {
    display: none
  }
  .menu .language__list {
    top: auto;
    bottom: calc(100% + .625rem);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left
  }
  .footer__body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "works" "map" "menu";
    gap: 2.5rem;
    margin-bottom: 2.5rem
  }
  .footer__column {
    width: 100%;
    min-width: 0
  }
  .footer__column--works {
    max-width: none;
    grid-area: works
  }
  .footer__column--menu {
    max-width: none;
    grid-area: menu
  }
  .footer__column--map {
    grid-area: map
  }
  .footer__contacts {
    margin-bottom: 1.25rem
  }
  .footer__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem
  }
  .footer__socials {
    justify-content: center
  }
  .footer__address-link {
    font-size: .9375rem;
    line-height: 187%
  }
  .footer__list {
    gap: .625rem
  }
  .footer__map {
    max-width: none
  }
  .section-info__body {
    flex-direction: column
  }
  .section-info__img {
    display: none
  }
  .the-cost__btns {
    margin: 0 auto;
    flex-direction: column-reverse
  }
}
@media (max-width:29.99875em) {
  .title {
    font-size: 1.5rem
  }
  .popup {
    padding: 0;
    background-color: var(--light-color)
  }
  .form__bottom {
    margin-top: 0;
    justify-content: center
  }
  .footer__bottom {
    gap: .625rem
  }
  .hero__title {
    font-size: 1.75rem
  }
  .hero__text {
    font-size: .9375rem;
    line-height: 160%
  }
  .section-info__text {
    font-size: .875rem;
    line-height: 150%
  }
  .results__card {
    padding: 1.25rem .875rem
  }
  .shares__item-text {
    font-size: 1rem
  }
  .section-404__title {
    font-size: 10rem
  }
  .section-404__text {
    font-size: 1.5rem
  }
  .section-404__btn {
    padding: 1rem 2.5rem
  }
}
@media (max-width:23.12375em) {
  .mobile-fixed-block {
    padding: 0 .625rem
  }
  .mobile-fixed-block__link {
    padding: .625rem .4375rem
  }
}
@media (min-width:29.99875em)and (max-width:84.75em) {
  .title {
    font-size: clamp(1.5rem ,.6096464693rem + 2.9679687678vw ,3.125rem)
  }
  .hero__title {
    font-size: clamp(1.75rem ,.9966239355rem + 2.5113581882vw ,3.125rem)
  }
  .shares__item-text {
    font-size: clamp(1rem ,.7260450675rem + .9132211593vw ,1.5rem)
  }
  .section-404__title {
    font-size: clamp(10rem ,7.945338006rem + 6.849158695vw ,13.75rem)
  }
  .section-404__text {
    font-size: clamp(1.5rem ,.6096464693rem + 2.9679687678vw ,3.125rem)
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: var(--bg-color)
  }
  .button-empty:hover {
    color: var(--accent-color);
    border-color: var(--accent-color)
  }
  .breadcrumbs__link:hover {
    color: var(--accent-color)
  }
  .select__option:hover {
    background-color: var(--bg-color)
  }
  .menu__address-link:hover {
    color: var(--accent-color)
  }
  .menu__link:hover {
    color: var(--accent-color)
  }
  .menu__map:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .icon-menu:hover {
    border-color: var(--accent-color)
  }
  .icon-menu:hover span,
  .icon-menu:hover::after,
  .icon-menu:hover::before {
    background-color: var(--accent-color)
  }
  .popup__close:hover {
    color: var(--accent-color)
  }
  .spollers__body a:hover {
    color: var(--accent-color)
  }
  .header__phone:hover {
    color: var(--accent-color)
  }
  .socials-block__link:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--text-color)
  }
  .language__current:hover {
    color: var(--accent-color)
  }
  .language__link:hover {
    background-color: var(--accent-color);
    color: var(--text-color)
  }
  .footer__phone:hover {
    color: var(--accent-color)
  }
  .footer__address-link:hover {
    color: var(--accent-color)
  }
  .footer__link:hover {
    color: var(--accent-color)
  }
  .footer__map:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .footer__policy:hover {
    color: var(--accent-color)
  }
  .the-cost__table-link:hover {
    color: var(--accent-color)
  }
  .shares__item:hover {
    color: var(--accent-color)
  }
  .shares__item:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .text__content a:hover {
    color: var(--accent-color)
  }
}
@media (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}